<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TimeAttack_Week1</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }
    </style>
    <script>
        $(document).ready(function () {
            let index = 0;
            get_groups()
        });
        let group
        let index = 0
        let list = [];

        function get_groups() {
            $.ajax({
                type: "GET",
                url: "/base/codes",
                data: {},
                success: function (response) {
                    group = response
                    console.log(group.length)
                }
            })
        }

        function button1() {
            if(index == group.length)
            {
                list[index-1] = $('input[name=customRadio]:checked').val();
            }
            else if(index>=1){
                list[index-1] = $('input[name=customRadio]:checked').val();
                console.log(list[index-1]);
            }
            $('#testbox').empty()
            $.ajax({
                type: "GET",
                url: "/codes?group=" + group[index],
                data: {},
                success: function (response) {
                    let group = response['all_groups']
                    console.log(group)
                    for (let i = 0; i < group.length; i++) {

                        let name = group[i]['name']

                        let temp_html = `<div class="custom-control custom-radio">
                                              <input type="radio" id="customRadio${i}" name="customRadio" class="custom-control-input" value="${name}">
                                              <label class="custom-control-label" for="customRadio${i}">${name}</label>
                                          </div>
                                        `

                        $('#testbox').append(temp_html)

                    }
                    $('#testbox').append(`<button onclick="button1()" type="button" class="btn btn-secondary">다음</button>`)
                    index++
                }
            })
        }

    </script>
</head>
<body>

<div class="wrap">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>주식 종목 추천!!</h1>
            <h5>원하시는 종목을 추천합니다.</h5>
            <hr>
            <div class="testbox" id="testbox">
                <button onclick="button1()" type="button" class="btn btn-primary">추천시작</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>